<nav id="main-navbar" class="fixed top-0 left-0 w-full z-50 bg-transparent transition-colors duration-300">
    <div class="container mx-auto py-2 flex items-center justify-between"> 
        <div class="flex items-center space-x-2" id="navbar-left-section"> 
            <img src="assets/Marist_Brothers_monogram.svg" alt="Logo Marist" class="h-7 w-7 navbar-logo">
            <span class="text-yellow-400 font-bold text-lg">Mwanza Marist School</span>
        </div>
        
        <div class="flex-grow text-center" id="navbar-center-section"> 
            <span id="navbar-user-info" class="text-white text-lg font-semibold"></span>
        </div>

        <div id="desktop-nav-links" class="flex items-center space-x-4">
            <a href="#" class="font-bold text-yellow-400 hover:text-yellow-300 transition-colors duration-200 text-lg">Home</a>
            <a href="#" class="font-bold text-yellow-400 hover:text-yellow-300 transition-colors duration-200 text-lg">Archive</a>
            <a href="#" class="font-bold text-yellow-400 hover:text-yellow-300 transition-colors duration-200 text-lg">Results</a>
            <button id="navbar-logout-button" class="font-bold text-yellow-400 px-3 py-1 rounded-md transition-colors duration-200">Logout</button>
        </div>
    </div>
</nav>